<% if current_user && current_user.admin? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Creation date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @all_posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, post_path(post) %></td>
          <td><%= l post.created_at, format: :short %></td>
          <td><%= link_to "delete", post_path(post), method: :delete %></td>
        </tr>
      <% end %>
  </table>
<% else %>
  <%= render @posts %>
  <%= pagination_links(@posts) %>
<% end %>
