<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Robin", root_path, class: "brand" %>
      <div class="nav-header">
        <ul class="nav">
          <li><%= link_to "Blog", posts_path %></li>
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "About me", static_pages_contact_path %></li>
        </ul>
      </div><!-- /.nav-collapse -->
        <div class="signing">
    <% if user_signed_in? %>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "signout"%></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
  </div>
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
